@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html, body, #app {
    @apply h-full;
}

#app {
    @apply flex flex-col bg-slate-200;
}

@layer components {
    .button {
        @apply py-2 px-4 cursor-pointer transition-all ease-in-out duration-300;
        &.button--secondary {
            @apply bg-slate-200 hover:bg-slate-300; 
        }
        &.button--primary {
            @apply bg-slate-700 hover:bg-slate-800 text-white;
        }
    }

}